{{define "nav"}}
<nav>
    <h1><a href="index.html">Connor Brezinsky</a></h1>
    <ul>
        <li>{{template "toggle-theme"}}</li>
        <li><a href="blog.html">Blog</a></li>
        <li><a aria-label="gitlab" class="gitlab" href="https://gitlab.com/connorbrez" target="_blank"><i class="fa-brands fa-gitlab"></i></a></li>
        <li><a aria-label="github" class="github" href="https://github.com/connorbrez" target="_blank"><i class="fa-brands fa-github-alt"></i></a></li>
        <li><a aria-label="linkedin" class="linkedin" href="https://www.linkedin.com/in/connor-brezinsky-49b972129/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
    </ul>
</nav>



{{end}}