:root {
    --light-background-color: rgba(235, 235, 235, 1);
    --light-heading-color: rgba(0, 0, 0, 0.9);
    --light-text-color: rgba(0, 0, 0, 0.8);
    --light-link-color: rgba(0, 0, 0, 0.7);
    --light-link-color-hover: orangered;
    --light-hr-color: rgba(0, 0, 0, 0.5);

    --light-footer-link-color: rgba(0, 0, 0, 0.6);
    --light-footer-background-color: rgba(0, 0, 0, 0.02);
    --light-footer-text-color: rgba(0, 0, 0, 0.5);


    --dark-background-color: rgba(20, 20, 20, 1);
    --dark-heading-color: white;
    --dark-text-color: rgba(255, 255, 255, 0.7);
    --dark-link-color: rgba(255, 255, 255, 0.7);
    --dark-link-color-hover: orangered;
    --dark-hr-color: rgba(255, 255, 255, 0.6);

    --dark-footer-link-color: rgba(255, 255, 255, 0.6);
    --dark-footer-background-color: rgba(255, 255, 255, 0.02);
    --dark-footer-text-color: rgba(255, 255, 255, 0.5);
}

body[data-theme="light"] {
    --background-color: var(--light-background-color);
    --heading-color: var(--light-heading-color);
    --text-color: var(--light-text-color);
    --link-color: var(--light-link-color);
    --link-color-hover: var(--light-link-color-hover);
    --hr-color: var(--light-hr-color);

    --footer-link-color: var(--light-footer-link-color);
    --footer-background-color: var(--light-background-color);
    --footer-text-color: var(--light-footer-text-color);
}

body[data-theme="dark"] {
    --background-color: var(--dark-background-color);
    --heading-color: var(--dark-heading-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --link-color-hover: var(--dark-link-color-hover);
    --hr-color: var(--dark-hr-color);

    --footer-link-color: var(--dark-footer-link-color);
    --footer-background-color: var(--dark-background-color);
    --footer-text-color: var(--dark-footer-text-color);
}

body[data-theme="dark"] img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
}

body[data-theme="dark"] img:hover {
    opacity: 1;
}

body,
html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 100%;
    height: 100%;

    -webkit-transition: font-size 0.6s, color 0.6s;
    -moz-transition: font-size 0.6s, color 0.6s;
    -o-transition: font-size 0.6s, color 0.6s;
    transition: font-size 0.6s, color 0.6s;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: var(--text-color);
    background-color: var(--background-color);


}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.5;
    }


    100% {
        opacity: 1;
    }
}


h2 {
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    -webkit-transition: font-size 0.6s, color 0.6s;
    -moz-transition: font-size 0.6s, color 0.6s;
    -o-transition: font-size 0.6s, color 0.6s;
    transition: font-size 0.6s, color 0.6s;
}


nav {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

nav h1>a {
    font-size: 26px;
    color: var(--text-color);

}

nav h1>a:hover {
    font-size: 26.5px;
}

nav ul {
    margin-left: auto;
}


nav li>a {
    font-size: 16px;
    color: var(--link-color);
}

nav li>a:hover {
    font-size: 17px;
    color: var(--link-color-hover);
}

a.gitlab:hover {
    color: orangered;
}

a.github:hover {
    color: rgb(137, 87, 229);
}


a.linkedin:hover {
    color: rgb(10, 102, 194)
}


hr {
    border: none;
    height: 1px;
    color: var(--hr-color);
    background-color: var(--hr-color);
    width: 50%;
    margin-top: 20px;
}

main {
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    flex: 1;
}

footer {
    min-height: 50px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    margin-top: 15px;
    margin-bottom: 5px;
}

footer li>a {
    color: var(--footer-link-color);
}

footer li>a:hover {
    font-size: 17px;
}

footer p {
    margin: 5px 0;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    nav {
        flex-direction: column;
        align-items: start;
        margin-bottom: 75px;
    }

    nav h1 {
        margin-bottom: 0px;
    }

    nav ul {
        margin-top: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }

    nav ul>li:nth-child(1) {
        margin-left: 0;
    }

    nav li:nth-child(2) {
        margin-left: 20px;
    }

    nav,
    main {
        margin-left: 8%;
        margin-right: 8%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav {
        flex-direction: column;
        align-items: start;
        margin-bottom: 50px;
    }

    nav h1 {
        margin-bottom: 0px;
    }

    nav ul {
        margin-top: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }

    nav ul>li:nth-child(1) {
        margin-left: 0;
    }

    nav li:nth-child(2) {
        margin-left: 20px;
    }

    nav,
    main {
        margin-left: 8%;
        margin-right: 8%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    nav,
    main {
        margin-left: 10%;
        margin-right: 10%;
    }

    nav {
        margin-bottom: 0px;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        margin-left: auto;
        margin-top: 40px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    nav,
    main {
        margin-left: 17%;
        margin-right: 17%;
    }
}