body{
    background-color: var(--background-color);
    color: var(--text-color);
}

main ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 50px;
}

main ul li:nth-child(1) {
    margin-left: 0;
    padding-left: 0;
}

main li > a {
    font-size: 16px;
    color: var(--link-color);
    -webkit-transition: font-size 0.6s, color 0.6s;
    -moz-transition: font-size 0.6s, color 0.6s;
    -o-transition: font-size 0.6s, color 0.6s;
    transition: font-size 0.6s, color 0.6s;
}

main li > a:hover {
    font-size: 17px;
    color: var(--link-color-hover);
}

main #title {
    margin-bottom: 0;
}

main #subtitle {
    margin-top: 0;
}

img {
 max-width: 1000px;
}

#images {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#images > img {
    flex: 0 1 33%;
    height: auto;
    width: 100%;
}



article {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

article h1 {
    font-size: 30px;
}

article h2 {
    font-size: 20px;
}

article p {
    font-size: 18px;
    line-height: 32px;
}
